<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark sticky-top">
   <div class="container">
     <a class="navbar-brand"  href="/"><i  class="fas fa-film"></i></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
         aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item">
             <a class="nav-link" href="/index">Home
               <span class="sr-only">(current)</span>
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link"  href="/genre">Genre</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="/aboutus">About us</a>
          </li>

           
          
         </ul>
         <ul class="navbar-nav ml-auto nav-flex-icons">
          <form class="form-inline">
            <div class="md-form form-group mt-0">
                <input name="" type="text" id="" placeholder="Search" class="form-control mr-sm-3">
                <label for=""></label>
                <button type="button" class="btn btn-white">
                  <i class="fas fa-search" href="/search"></i>
                </button>
            </div>
        </form>
      
         </ul>
       </div>

   </div>
  </nav>
  <!--/.Navbar -->