{% extends 'base_layout.html' %} {% block body %}
<div class="mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="touch">
          <div class="card text-left">
            <div class="card-body">
              <h5 class="text-left">Action</h5>
              <h5 style="float: right" class="text-left">more</h5>

              <!-- Top content -->
              <div class="top-content">
                <div class="container-fluid">
                  <div id="carousel-example" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner row w-100 mx-auto" role="listbox">
                      <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                        <img
                          src="https://scontent.fbkk2-6.fna.fbcdn.net/v/t1.0-9/81227916_2684199638334302_3909972861447569408_o.jpg?_nc_cat=109&ccb=1-3&_nc_sid=174925&_nc_ohc=xwaZYzU2E6IAX-W15QJ&_nc_ht=scontent.fbkk2-6.fna&oh=f1ff011fcd990d8567da29845850fb4a&oe=6073CD61"
                          class="img-fluid mx-auto d-block" alt="img1" />
                      </div>
                      <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img
                          src="https://scontent.fbkk2-5.fna.fbcdn.net/v/t1.0-9/122598629_3489414201141791_8623145838869894462_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=8qAKrWzktcQAX--XvRt&_nc_ht=scontent.fbkk2-5.fna&oh=865cd6aba589359f3a04853fba0a2fb9&oe=60756465"
                          class="img-fluid mx-auto d-block" alt="img2" />
                      </div>
                      <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img
                          src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.0-9/126229412_2704323276500525_8650429566122599059_o.jpg?_nc_cat=100&ccb=1-3&_nc_sid=174925&_nc_ohc=fCXAYlVgFhgAX-NbZtp&_nc_ht=scontent.fbkk2-8.fna&oh=03bd0b2f75538d4dc637016d477527d4&oe=6073E4CC"
                          class="img-fluid mx-auto d-block" alt="img3" />
                      </div>
                      <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img
                          src="https://scontent.fbkk2-6.fna.fbcdn.net/v/t1.0-9/81227916_2684199638334302_3909972861447569408_o.jpg?_nc_cat=109&ccb=1-3&_nc_sid=174925&_nc_ohc=xwaZYzU2E6IAX-W15QJ&_nc_ht=scontent.fbkk2-6.fna&oh=f1ff011fcd990d8567da29845850fb4a&oe=6073CD61"
                          class="img-fluid mx-auto d-block" alt="img4" />
                      </div>
                      <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img
                          src="https://scontent.fbkk2-5.fna.fbcdn.net/v/t1.0-9/122598629_3489414201141791_8623145838869894462_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=8qAKrWzktcQAX--XvRt&_nc_ht=scontent.fbkk2-5.fna&oh=865cd6aba589359f3a04853fba0a2fb9&oe=60756465"
                          class="img-fluid mx-auto d-block" alt="img5" />
                      </div>
                      <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img
                          src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.0-9/126229412_2704323276500525_8650429566122599059_o.jpg?_nc_cat=100&ccb=1-3&_nc_sid=174925&_nc_ohc=fCXAYlVgFhgAX-NbZtp&_nc_ht=scontent.fbkk2-8.fna&oh=03bd0b2f75538d4dc637016d477527d4&oe=6073E4CC"
                          class="img-fluid mx-auto d-block" alt="img6" />
                      </div>
                      <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img
                          src="https://scontent.fbkk2-6.fna.fbcdn.net/v/t1.0-9/81227916_2684199638334302_3909972861447569408_o.jpg?_nc_cat=109&ccb=1-3&_nc_sid=174925&_nc_ohc=xwaZYzU2E6IAX-W15QJ&_nc_ht=scontent.fbkk2-6.fna&oh=f1ff011fcd990d8567da29845850fb4a&oe=6073CD61"
                          class="img-fluid mx-auto d-block" alt="img7" />
                      </div>
                      <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img
                          src="https://scontent.fbkk2-5.fna.fbcdn.net/v/t1.0-9/122598629_3489414201141791_8623145838869894462_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=8qAKrWzktcQAX--XvRt&_nc_ht=scontent.fbkk2-5.fna&oh=865cd6aba589359f3a04853fba0a2fb9&oe=60756465"
                          class="img-fluid mx-auto d-block" alt="img8" />
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="touch">
          <div class="card text-left">
            <div class="card-body">
              <h5 class="text-left">Comedy</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="touch">
          <div class="card text-left">
            <div class="card-body">
              <h5 class="text-left">Drama</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="touch">
          <div class="card text-left">
            <div class="card-body">
              <h5 class="text-left">Fantasy</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="touch">
          <div class="card text-left">
            <div class="card-body">
              <h5 class="text-left">Horror</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="touch">
          <div class="card text-left">
            <div class="card-body">
              <h5 class="text-left">Mystery</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="touch">
          <div class="card text-left">
            <div class="card-body">
              <h5 class="text-left">Romance</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="touch">
          <div class="card text-left">
            <div class="card-body">
              <h5 class="text-left">Thriller</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="touch">
          <div class="card text-left">
            <div class="card-body">
              <h5 class="text-left">Western</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}