{% extends 'base_layout.html' %} {% block body %}
<div class="mt-5">
    <div class="col-md-12">
        <div class="touch">
            <div class="card text-left">
                <div class="card-body">
                    <h5 class="text-center">Genre</h5>
                    <table style="width:100%">
                        <tr>
                          <td> <a href="/genre/Action" class="text-center btn btn-danger">Action</a> </td>
                          <td> <a href="/genre/Adventure" class="text-center btn btn-danger">Adventure</a> </td>
                          <td> <a href="/genre/Cars" class="text-center btn btn-danger">Cars</a> </td>
                          <td> <a href="/genre/Comedy" class="text-center btn btn-danger">Comedy</a> </td>
                          <td> <a href="/genre/Dementia" class="text-center btn btn-danger">Dementia</a> </td>
                          <td> <a href="/genre/Demons" class="text-center btn btn-danger">Demons</a> </td>
                        </tr>
                        <tr>
                          <td> <a href="/genre/Mystery" class="text-center btn btn-danger">Mystery</a> </td>
                          <td> <a href="/genre/Drama" class="text-center btn btn-danger">Drama</a> </td>
                          <td> <a href="/genre/Ecchi" class="text-center btn btn-danger">Ecchi</a> </td>
                          <td> <a href="/genre/Fantasy" class="text-center btn btn-danger">Fantasy</a> </td>
                          <td> <a href="/genre/Game" class="text-center btn btn-danger">Game</a> </td>
                          <td> <a href="/genre/Hentai" class="text-center btn btn-danger">Hentai</a> </td>
                        </tr>
                        <tr>
                          <td> <a href="/genre/Historical" class="text-center btn btn-danger">Historical</a> </td>
                          <td> <a href="/genre/Horror" class="text-center btn btn-danger">Horror</a> </td>
                          <td> <a href="/genre/Kids" class="text-center btn btn-danger">Kids</a> </td>
                          <td> <a href="/genre/Magic" class="text-center btn btn-danger">Magic</a> </td>
                          <td> <a href="/genre/Martial Arts" class="text-center btn btn-danger">Martial Arts</a> </td>
                          <td> <a href="/genre/Mecha" class="text-center btn btn-danger">Mecha</a> </td>
                        </tr>
                        <tr>
                          <td> <a href="/genre/Music" class="text-center btn btn-danger">Music</a> </td>
                          <td> <a href="/genre/Parody" class="text-center btn btn-danger">Parody</a> </td>
                          <td> <a href="/genre/Samurai" class="text-center btn btn-danger">Samurai</a> </td>
                          <td> <a href="/genre/Romance" class="text-center btn btn-danger">Romance</a> </td>
                          <td> <a href="/genre/School" class="text-center btn btn-danger">School</a> </td>
                          <td> <a href="/genre/Sci Fi" class="text-center btn btn-danger">Sci Fi</a> </td>
                        </tr>
                        <tr>
                          <td> <a href="/genre/Shoujo" class="text-center btn btn-danger">Shoujo</a> </td>
                          <td> <a href="/genre/Shoujo Ai" class="text-center btn btn-danger">Shoujo Ai</a> </td>
                          <td> <a href="/genre/Shounen" class="text-center btn btn-danger">Shounen</a> </td>
                          <td> <a href="/genre/Shounen Ai" class="text-center btn btn-danger">Shounen Ai</a> </td>
                          <td> <a href="/genre/Space" class="text-center btn btn-danger">Space</a> </td>
                          <td> <a href="/genre/Sports" class="text-center btn btn-danger">Sports</a> </td>
                        </tr>
                        <tr>
                          <td> <a href="/genre/Super Power" class="text-center btn btn-danger">Super Power</a> </td>
                          <td> <a href="/genre/Vampire" class="text-center btn btn-danger">Vampire</a> </td>
                          <td> <a href="/genre/Yaoi" class="text-center btn btn-danger">Yaoi</a> </td>
                          <td> <a href="/genre/Yuri" class="text-center btn btn-danger">Yuri</a> </td>
                          <td> <a href="/genre/Harem" class="text-center btn btn-danger">Harem</a> </td>
                          <td> <a href="/genre/Slice Of Life" class="text-center btn btn-danger">Slice Of Life</a> </td>
                        </tr>
                        <tr>
                          <td> <a href="/genre/Supernatural" class="text-center btn btn-danger">Supernatural</a> </td>
                          <td> <a href="/genre/Military" class="text-center btn btn-danger">Military</a> </td>
                          <td> <a href="/genre/Police" class="text-center btn btn-danger">Police</a> </td>
                          <td> <a href="/genre/Psychological" class="text-center btn btn-danger">Psychological</a> </td>
                          <td> <a href="/genre/Thriller" class="text-center btn btn-danger">Thriller</a> </td>
                          <td> <a href="/genre/Seinen" class="text-center btn btn-danger">Seinen</a> </td>
                        </tr>
                        <tr>
                          <td> <a href="/genre/Josei" class="text-center btn btn-danger">Josei</a> </td>
                        </tr>
                      </table>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}